﻿
@model InterviewTest.Models.ViewModels.NewsletterConfigViewModel
@{
    ViewBag.Title = "Newsletter Settings";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#NewsletterFormatInput_Info").hide();
        $("#NewsletterFormatInput").keypress(function (key) {
            console.log(key.charCode);
            if (!(key.charCode === 104 || key.charCode === 116 || key.charCode === 84 || key.charCode === 72)) {
                $("#NewsletterFormatInput_Info").show();
                return false;
            }
        });
    });
</script>

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row well">
            <h2>Newsletter Format</h2>
            <p>Specifiey the order and quantity of trips and hosts to be specified.</p>

            @using (Html.BeginForm())
            {
                <span id="NewsletterFormatInput_Info" class="label label-warning"> 'T' - Trip 'H' - Host </span>
                <input id="NewsletterFormatInput" name="NewsletterFormatInput" class="form-control" style="text-transform: uppercase" type="text" value="@Model.NewsletterFormat" />
                <button type="submit" class="btn btn-default"> Save Format</button>
                <a class="btn btn-info btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Example
                </a>
            }
            
            <div class="collapse" id="collapseExample">
                <div class="well">
                    For example we might decide we want newsletters to have 3 trips followed by 2 hosts followed by 3 trips (TTTHHTTT).
                </div>
            </div>
        </div>
    </div>

</div>
