﻿@using System.Web.Mvc.Html
@using InterviewTest.Models.ViewModels
@model NewsletterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
    <title>NewsLetter</title>
    <html>
    <head>
        <meta charset="utf-8"> <!-- utf-8 works for most cases -->
        <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
        <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->
        <!-- NOTE: If web fonts are not required, lines 9 - 26 can be safely removed. -->
        <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
        <!--[if mso]>
            <style>
                * {
                    font-family: sans-serif !important;
                }
            </style>
        <![endif]-->
        <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
        <!--[if !mso]><!-->
        <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
        <!--<![endif]-->
        <!-- CSS Reset -->
        <style type="text/css">
            /* What it does: Remove spaces around the email design added by some email clients. */
            /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
            body {
                width: 600px;
            }

            .item {
                display: inline-block;
                width: 48%;
                text-align: center;
                margin-bottom: 20px;
            }

                .item img {
                    width: 60%;
                }

            .host img {
                border-radius: 50%;
            }

            html,
            body {
                Margin: 0 !important;
                padding: 0 !important;
                height: 100% !important;
                width: 100% !important;
            }

            /* What it does: Stops email clients resizing small text. */
            * {
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
            }

            /* What is does: Centers email on Android 4.4 */
            div[style*="margin: 16px 0"] {
                margin: 0 !important;
            }

            /* What it does: Stops Outlook from adding extra spacing to tables. */
            table,
            td {
                mso-table-lspace: 0pt !important;
                mso-table-rspace: 0pt !important;
            }

            /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
            table {
                border-spacing: 0 !important;
                border-collapse: collapse !important;
                table-layout: fixed !important;
                Margin: 0 auto !important;
            }

                table table table {
                    table-layout: auto;
                }

            /* What it does: Uses a better rendering method when resizing images in IE. */
            img {
                -ms-interpolation-mode: bicubic;
            }

            /* What it does: Overrides styles added when Yahoo's auto-senses a link. */
            .yshortcuts a {
                border-bottom: none !important;
            }

            /* What it does: A work-around for iOS meddling in triggered links. */
            .mobile-link--footer a,
            a[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: underline !important;
            }
        </style>

        <!-- Progressive Enhancements -->
        <style>
            /* What it does: Hover styles for buttons */
            .button-td,
            .button-a {
                transition: all 100ms ease-in;
            }

                .button-td:hover,
                .button-a:hover {
                    background: #555555 !important;
                    border-color: #555555 !important;
                }
        </style>

    </head>
    <body width="100%" height="100%" bgcolor="#222222" style="Margin: 0;">
        <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#222222" style="border-collapse:collapse;">
            <tr>
                <td valign="top">
                    <center style="width: 100%;">

                        <!-- Visually Hidden Preheader Text : BEGIN -->
                        <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">
                            (Optional) This text will appear in the inbox preview, but not the email body.
                        </div>
                        <!-- Visually Hidden Preheader Text : END -->

                        <div style="max-width: 600px;">

                            <!-- Email Header : END -->
                            <!-- Email Body : BEGIN -->
                            <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" width="100%" style="max-width: 600px;">

                                <!-- Hero Image, Flush : BEGIN -->
                                <tr>
                                    <td>
                                        <img src="https://www.vidados.com/themes/vidados/assets/img/vidados-logo.svg" width="600" height="" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 600px;">
                                    </td>
                                </tr>
                                <!-- Hero Image, Flush : END -->
                                <!-- 1 Column Text : BEGIN -->
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tr>
                                                <td style="padding: 40px; font-family: sans-serif; font-size: 15px; mso-height-rule: exactly; line-height: 20px; color: #555555;">
                                                    Hi subscriber, <br />Take a look at the amazing hosts and sellers new on Vidados!
                                                    <br><br>
                                                    <br>
                                                    @foreach (var item in Model.Items)
                                                    {
                                                        <div class="item">
                                                            @if (item is NewsletterTripViewModel)
                                                            {
                                                                @Html.Partial("TripItem", item)
                                                            }
                                                            else if (item is NewsletterHostViewModel)
                                                            {
                                                                @Html.Partial("HostItem", item)
                                                            }
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- Email Body : END -->
                            <!-- Email Footer : BEGIN -->
                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
                                <tr>
                                    <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: center; color: #888888;">
                                        <webversion style="color:#cccccc; text-decoration:underline; font-weight: bold;">View as a Web Page</webversion>
                                        <br><br>
                                        Copyright © 2016 Vidados. All rights reserved.
                                        <br><br>
                                        <a style="color:#888888; text-decoration:underline;">unsubscribe</a>
                                    </td>
                                </tr>
                            </table>
                            <!-- Email Footer : END -->
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </div>
                    </center>
                </td>
            </tr>
        </table>
    </body>
</html>