﻿@model InterviewTest.Models.ViewModels.NewsletterTripViewModel
<div>
    <img src="@Model.ImageUrl" />
    <div>
        @Model.Name  with @Model.HostName<br />
        @Model.Country
    </div>
</div>